* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #755771; /* purple */
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #9c7a97;
  color: black;
}

/* Style the content */
.content {
  background-color: #f3f3f3;
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: #755771;
  padding: 10px;
  color: #f2f2f2;
}
